/* Tags */

body{
  background-color: #28282B;
}
h1, h2{
  cursor: default;
}
footer, footer a{
  top: 100%
  bottom: 0;
  width: 100%;
  position: relative;
  text-align: center;
  color: #fff !important;
  text-decoration: none !important;
}

/* NavBar */
nav .navbarPlaylist {
  width:90%;
  margin: 0 0 -1.4% 10%;
  border-top-left-radius: 20px;
  background-color: #43cea2;
  position: fixed;
  top: 0;
  height: 5%;
}
nav .navbarPlaylist ul  {
  overflow:auto;
  list-style-type: none;
}
nav .navbarPlaylist li {
  float: left;
  display: block;
  padding: 8px;
}
nav a{
  color: #FFF;
}
nav a:hover{
  color: #28282B;
  text-decoration: none;
}

/* IDs */

#hoverbtn {
    opacity: 50;
    position: absolute;
}

/* Classes */
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.btn-grad{
  background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%);
  margin: 10px;
  padding: 5px 50px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 20px;
  font-size: 25px;
  display: block;
  color: #fff;
  text-transform: lowercase;
  font-family: "Open Sans" sans-serif;
}

.btn-grad:hover{
  background-position: right center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.container {
  height: 200px;
  position: relative;
}
.colorContainer{
  height: 200px;
  margin-top:-1%;
  background: linear-gradient(90deg, #185a9d , #43cea2 );
  font-family: "Open Sans" sans-serif;
  text-transform: lowercase;
  color: #FFFFFF;
  display: flex;
}
.colorContainerHover {
  height: 200px;
  margin-top:-1%;
  color: #FFFFFF;
  background: linear-gradient(90deg , #43cea2  , #185a9d);
  font-weight: "bold";
  text-transform: uppercase;
  font-family: "Open Sans" sans-serif;
  display: flex;
}
.center {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.title{
  margin-top: auto;
  position: absolute;
  top: 6.6%;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.moveleft {
  margin-top: auto;
  position: absolute;
  top: 6.6%;
  left: 15%;
  -webkit-animation: moveLeft 2s linear;
  transition-duration: 4s;
  transition-delay: 0s ;
}

.formcenter {
  margin: 0;
  position: absolute;
  top: 10.4%;
  left: 50%;
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
}
.wrapperPlaylist {
  display: block;
  width: 90%;
  height: auto;
  margin-top:2.3%;
  margin-left:10%;
  margin-bottom:0.15%;
  background: #43cea2;
  font-family: "Open Sans" sans-serif;
  text-transform: lowercase;
  color: #FFFFFF;
  border-bottom-left-radius: 20px;
  text-transform: capitalize;
}
.wrapperAnalysis {
  display: flex;
  overflow-x: scroll;
  width: 98%;
  margin: 1% 1% 2% 1% ;
  background: #185a9d;
  font-family: "Open Sans" sans-serif;
  text-transform: lowercase;
  color: #FFFFFF;
  border-radius: 20px;
  text-transform: capitalize;
}
.centerFloat{
  margin-left: 41.5%;
  display:inline-block;
  cursor: pointer;
}
.textBreak {
  width: 100px;
  overflow-x: hidden;
}
.sideSlide{
  margin:1% 0.2% 1% 0.2%;
  white-space:nowrap;
  width: 80%;
}
.homeAnchor{
  display: inline-block;
  margin: 0% 0 0 50%;
  border-radius: 0 0 10px 10px;
  background-color: #185a9d;
  color: #FFF;
}
.homeAnchor:hover{
  color: #28282B;
  text-decoration: none;
}
.btnPlaylist{
  background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%);
  padding: 5px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans" sans-serif;
}
.btnPlaylist:hover{
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.btnPlaylistCreated{
  color: #fff;
  background-color: #43cea2;
  padding: 5px 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 100% auto;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Open Sans" sans-serif;
}
/* Animation */

@-webkit-keyframes moveLeft {
  0% {
    -ms-transform: translate(-49%, 0%);
    transform: translate(-49%, 0%);
  }
  100% {
    -ms-transform: translate(-0.9%, 0%);
    transform: translate(-0.9%, 0%);
  }
}

/*ScrollBar*/
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #43cea2;
  border-radius: 10px;
  border: 3px solid  #28282B;
}
:hover::-webkit-scrollbar {
  width: 12px;
}
