<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href = "{% static 'styles.css' %}">
    <title>Playlist Slicer</title>
  </head>
  <body>
    <a href={% url 'home' %} class="homeAnchor"><span class="material-symbols-outlined">home</span></a>
    <div>
      <!-- loop through list and displayed each sliced playlist indivually  -->
      {% for cluster,list in playlists.items %}
        <div class="wrapperAnalysis">
          <div style="display:inline; margin:0.3% 1% 0 1%">
          <h3 align="center">Playlist</h3>

          <form align="center" action={% url 'analysis'%} method="post">
            {% if cluster in created%}
              <button class="btnPlaylistCreated" value="{{ cluster }}" type="submit" name="btnPlaylist" disabled>
                <span class="material-symbols-outlined">done</span>
              </button>
            {% else %}
              <button class="btnPlaylist" value="{{ cluster }}" type="submit" name="btnPlaylist">Create</button>
            {% endif %}
          </form>
        </div>
            {% for song in list %}
            <h5 class="sideSlide">
              <img src={{ song.image }} alt={{ song.name }} width="100px" height="100px"></img><br>
              <div class="textBreak">
              {{ song.name }} <br> By
              {% for artist in song.artist %}
                {{ artist }}
              {% endfor %}
            </div>
            </h5>
          {% endfor %}
        </div>
      {% endfor %}
  </div>
  <script src="{% static 'scriptAnalysis.js' %}" ></script>
  </body>
</html>
