body{
  background-color: #28282B;
}

.btn-grad{
  background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%);
  margin: 10px;
  padding: 5px 50px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 20px;
  font-size: 25px;
  display: block;
  color: #fff;
  text-transform: lowercase;
  font-family: "Open Sans" sans-serif;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.container {
  height: 200px;
  position: relative;
}
.center {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.title {
  height: 200px;
  margin-top:-1%;
  background: linear-gradient(90deg, #185a9d , #43cea2 );
  font-family: "Open Sans" sans-serif;
  text-transform: lowercase;
  color: #FFFFFF;
}
.titlehover {
  height: 200px;
  margin-top:-1%;
  color: #FFFFFF;
  background: linear-gradient(90deg , #43cea2  , #185a9d);
  font-weight: "bold";
  text-transform: uppercase;
  font-family: "Open Sans" sans-serif;
}
.titlecenter {
  margin: 0;
  position: absolute;
  top: 6.6%;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.moveleft {
  margin: 0;
  position: absolute;
  top: 6.6%;
  left: 15%;
  -webkit-animation: moveLeft 2s linear;
  transition-duration: 4s;
  transition-delay: 0s ;
}

@-webkit-keyframes moveLeft {
  0% {
    -ms-transform: translate(-49%, 0%);
    transform: translate(-49%, 0%);
  }
  100% {
    -ms-transform: translate(-0.9%, 0%);
    transform: translate(-0.9%, 0%);
  }
}
.formcenter {
  margin: 0;
  position: absolute;
  top: 10.4%;
  left: 50%;
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
}
